<html>
  <head>
    <title>
      DevClub services
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <h3>Running services</h3>
    <table class="table">
      <tr>
        <th>Service</th>
        <th>Subdomain</th>
        <th>Server</th>
        <th>Access</th>
        <th>Healthy?</th>
        <th>Timestamp</th>
      </tr>
      {{ range $key, $value := .}}
        {{if eq $value.Status "running"}}
        <tr>
          <td>{{$key}}</td>
          <td>{{$value.Subdomain}}</td>
          <td>{{$value.Server}}</td>
          <td>{{$value.Access}}</td>
          <td>{{$value.Healthy}}</td>
          <td>{{$value.Timestamp}}</td>
        </tr>
        {{end}}
      {{end}}
    </table>
  </body>
</html>